{% extends "layout.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit items</title>

    <link href="/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <h1>Editing items</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">List</th>
          <th scope="col">Category</th>
          <th scope="col">Bought</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
          {{ item.amount }}
          <form method="POST" action="{{ url_for('item_amount', item_id = item.id) }}">
            <div class="form-group">
              <input type="number" name="amount" id="amount" class="form-control" required value="{{ amount }}">
              <div class="invalid-feedback">Amount is needed and it has to be a number!(amount can be zero)</div>
            </div>
            <div>
              <button name="name" class="btn btn-info" type="submit">Update amount!</button>
            </div>
          </form>
        </td>
        <td>
          {{ listnames[item.list_id] }}
          <form method="POST" action="{{ url_for('item_list', item_id = item.id) }}">
            <div class="form-group">
              <select name="list" id="list" class="form-control">
                {% for list in lists %}
                  <option value ="{{ list.id }}">{{list.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <button name="name" class="btn btn-info" type="submit">Update list!</button>
            </div>
          </form>
        </td>
        <td>
          {{ categoryNames[item.category_id] }}
          <form method="POST" action="{{ url_for('item_category', item_id = item.id) }}">
            <div class="form-group">
              <select name="category" id="category" class="form-control">
                {% for category in categories %}
                  <option value ="{{ category.id }}">{{category.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <button name="name" class="btn btn-info" type="submit">Update category!</button>
            </div>
          </form>
        </td>
        <td>
          <form method="POST" action="{{ url_for('item_done', item_id = item.id) }}">
            {% if item.bought == 0 %}
              <button name="name" value="{{ item.bought }}" type="submit">No</button>
            {% else %}
              <button name="name" value="{{ item.bought }}" type="submit">Yes</button>
            {% endif %}
          </form>
        </td>
        <td>
          <form method="POST" action="{{ url_for('items_delete', item_id=item.id) }}">
            <button name="name" class="btn btn-danger" type="submit">Delete!</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <h1>Form Errors</h1>
{{ aform.errors }}

<!-- Form for adding new items to the database -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

  <script>
    var form = document.querySelector('.needs-validation');

    form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
        })
        print(bought.)
    </script>
</body>

</html>
  {% endblock %}
