{% extends "layout.html" %}

{% block body %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Bought</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.amount }}</td>
      <td>
        <form method="POST" action="{{ url_for('items_set_done', item_id=item.id) }}">
          <input type="submit" value={{ item.bought }}>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('items_delete', item_id=item.id) }}">
          <input type="submit" value="Delete!"/>
        </form>
      </td>
    </tr
    {% endfor %}
  </tbody>
</table>
{% endblock %}
