{% extends "layout.html" %}
<!DOCTYPE html>
{% block body %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">List</th>
      <th scope="col">Category</th>
      <th scope="col">Bought</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% if items|length < 1 %}
      <h1>You have no items</h1>
      <a class="link" href="{{ url_for('items_form') }}">Click here to start adding</a>
    {% endif %}
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ listnames[item.list_id] }}</td>
      <td>{{ categoryNames[item.category_id] }}</td>
      <td>
        <form method="POST" action="{{ url_for('items_set_done', item_id=item.id) }}">
          {% if item.bought == 0 %}
            <button name="name" value="{{ item.bought }}" type="submit">No</button>
          {% else %}
            <button name="name" value="{{ item.bought }}" type="submit">Yes</button>
          {% endif %}
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('items_delete', item_id=item.id) }}">
          <button name="name" class="btn btn-danger" type="submit">Delete!</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
