{% extends "layout.html" %}

{% block body %}
<body>
  <ul class="list-group">
    {% for item in items %}
    <li class="list-group-item"> {{ item.name  }} {{ item.amount }} {{ item.bought }}</li>
    {% endfor %}
  </ul>
</body>

  <table>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Bought</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.bought }}</td>
      <td>
        <form method="POST" action="{{ url_for('items_set_done', item_id=item.id) }}">
          <input type="submit" value="Mark as bought!"/>
        </form>
        <form method="POST" action="{{ url_for('items_delete', item_id=item.id) }}">
          <input type="submit" value="Delete!"/>
     </tr>
    {% endfor %}
  </table>
{% endblock %}
