{% extends "layout.html" %}

{% block body %}

<body>
  <h2>Categories</h2>
  <ul class="list-group">
    {% for category in categories %}
    <li class="list-group-item" style="height: 30px; padding: 5px 15px;">{{ category.id }} {{ category.name }}</li>
    {% endfor %}
  </ul>
  <h2>Form for adding new items</h2>
  <h5>Only you can see your own items</h5>
</body>
<form method="POST" action="{{ url_for('items_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.erros %}
          <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      {{ form.amount.label }}
    </tr>
    <tr>
      {{ form.amount }}
    </td>
    <tr>
      {{ form.bought.label }}
    </td>
    <tr>
      {{ form.bought }}
    </td>
      <td colspan="2">
        <input type="submit" value="Add a new item"/>
      </td>
    </tr>
  </form>
  {% endblock %}
