{% extends "layout.html" %}
<!DOCTYPE html>
{% block body %}
<form method="POST" action="{{ url_for('lists_create') }}">
  <div class="form-group">
    <label for="name">List name</label>
    <input type="text" name="name" id="name" class="form-control" required>
    <div class="invalid-feedback">List name required! The maximum length for a name is 144 characters</div>
  </div>
  <div class="form-group">
    <label for="info">List info</label>
    <input type="text" name="info" id="info" class="form-control" required>
    <div class="invalid-feedback">List info  required! The maximum length for info is 144 characters</div>
  </div>
  <button type="submit" class="btn btn-outline-primary">Create new list</button>
  </form>
  {% endblock %}
