{% extends "layout.html" %}

{% block body %}

<body>
  <h1>Registered accounts : {{ users|length }}</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        {% if ( (user.role == 'ADMIN') and (user.username == 'admin') ) %}
          <td>{{ user.role }}</td>
        {% else %}
        <td>

          <form method="POST" action="{{ url_for('users_make_admin', user_id=user.id) }}">
              {{ user.role }}    <button name="name" value="{{ account_id }}" type="submit">Make admin!</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

{% endblock %}
