{% extends "layout.html" %}
<!DOCTYPE html>
{% block body %}
<h1>User: {{ user.username }}</h1>
<h2>Amount of items: {{ amount }}</h2>
<body>
  <form action="{{ url_for('changePassword') }}" method="POST" id="passwordfrom">
      <div class="form-group" style="width: 400px;">
        <div class="form-group row">
          <h2>Change password</h2>
        </div>
        <div class="form-group row">
          <label for="password">New password</label>
          <input type="password" id="password" class="form-control" name="password"  placeholder="Enter new password" value="{{password}}" required autofocus maxlength="144">
        </div>
        {% for msg in form.password.errors %}
        <div class="alert alert-primary">{{ msg }}</div>
        {% endfor %}
        <div class="form-group row">
          <label for="confirm">New password</label>
          <input type="password" id="confirm" class="form-control" name="confirm"  placeholder="Repeat new password" value="{{confirm}}" required autofocus maxlength="144">
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-primary" form="passwordfrom">
            Change password
          </button>
        </div>
      {{ form.csrf_token() }}
    </div>
  </form>
  <form action="{{ url_for('deletemyitems') }}" method="POST">
    <h2>Delete all your items</h2>
    <small>(unrecoverable, only do this if you are absolutely sure)</small>
    <div class="form-group row mx-auto">
      <button type="submit" name="name" class="btn btn-danger">Delete all</button>
    </div>
  </form>
</body>
{% endblock %}
